[submodule "Frontend Project/music-discovery-app"]
	path = Frontend Project/music-discovery-app
	url = https://github.com/FrontEndProjectMV/music-discovery-app
[submodule "Deployment Project/DevDeployPal"]
	path = Deployment Project/DevDeployPal
	url = https://github.com/DevDeployPal/DevDeployPal
[submodule "Backend Project/The-Wish-Granting-API"]
	path = Backend Project/The-Wish-Granting-API
	url = https://github.com/FairyOddTeam/The-Wish-Granting-API
[submodule "Hackathon Project/Hackathon-Project"]
	path = Hackathon Project/Hackathon-Project
	url = https://github.com/briprogramming/Hackathon-Project
